BijlesPython_08-10-15/.idea/workspace.xml
*.xml
BijlesPython_08-10-15/.idea/Bijles_08-10-15.iml
BijlesPython_08-10-15/.idea/.name
labs/Lab_6.txt
Slides/~$ECTTP_Les_2_Variables_And_Operators.pptx
*.db
Toets/Toets_1.md